**/.git
**/.gitignore
**/.vs
**/.vscode
**/bin
**/obj
**/.DS_Store
**/node_modules
**/.env
**/.env.local
**/Thumbs.db
**/README.md
**/.replit
**/.agents
**/.github
**/docs
**/*.md
**/scripts
**/.gitattributes
**/.editorconfig
